# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Sublime Text project
sublime-project/*

# Output file
hciconv

# Testing stuff
*.hci
*.bmp

# Weird stuff
bin/*

# Code::Blocks files
*.depend
*.layout
cb-project/bin/*
cb-project/obj/*

# TeX files
*.aux
*.log
*.pdf

# Generated docs
doc/html/*